<?xml version="1.0"?>
<configuration>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<probing privatePath="."/>
<dependentAssembly>
<assemblyIdentity name="WpfControlLibrary"
publicKeyToken="125aad7a46133e5c"
culture="Neutral"/>
<!-- assembly versions can be redirected in application, publisher policy, or machine configuration files-->
<bindingRedirect oldversion="1.0.0.0" newVersion="1.0.0.0"/>
</dependentAssembly>
<dependentAssembly>
<assemblyIdentity name="WpfCustomControlLibrary"
publicKeyToken="e1f0733ec01b99de"
culture="Neutral"/>
<!-- assembly versions can be redirected in application, publisher policy, or machine configuration files-->
<bindingRedirect oldversion="1.0.0.0" newVersion="1.0.0.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
